.Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid rgb(97, 96, 96);
    max-width: 1200px;
    margin: 25px auto;
    background-color: rgb(224, 223, 223);
}

.Header h1 {
    margin: 25px 0 10px 25px;
}

.InfoCount {
    display: flex;
}

.InfoCount h3 {
    margin: 10px 15px;
    color: rgb(255, 102, 0);
}

.Header span {
    margin: 10px 15px;
}
