.MessageInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(97, 96, 96);
    max-width: 1200px;
    margin: 25px auto;
    background-color: rgb(238, 238, 238);
}

.MessageInput textarea {
    margin: 15px;
    width: 75%;
    height: 50px;
}

.MessageInput button {
    margin: 0 25px;
    height: 25px;
    width: 150px;
}